:root{
    --main--color: rgba(238,215,181,0.65);
    --color--texto: rgb(191, 117, 5);
}
/* editar tabla */

.form-group label{
    font-size: 40px;
    margin-left: 27%;
    color: black;
}
.form-control{
    margin:0 auto;
}
[type=text]{
    font-size: 30px;
    font-family: "Mitr", sans-serif;
    border-radius: 15px;
    border: transparent;
    padding: 3px;
    color: black;
    width: 50%;
}
.return{
    border-radius: 15px;
    background-color: var(--color--texto);
    color: var(--main--color);
    text-decoration: none;
    padding: 4px 40px 4px 40px;
    margin-left: 400px;
    font-size: 20px;
    transition: 0.5s;
}
.return:hover{
    background-color: var(--main--color);
    color: var(--color--texto);
}

.modify{
    border-radius: 15px;
    border: transparent;
    color: var(--main--color);
    padding: 4px 40px 4px 40px;
    margin-right: 400px;
    font-size: 20px;
    border-collapse: collapse;
    background-color: var(--color--texto);
    font-family: "Mitr", sans-serif;
    transition: 0.5s;
}
.modify:hover{
    color: var(--color--texto);
    background-color: var(--main--color);
}