/* .selects{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botones-insumos{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#medida{
    height: 50px;
} */

